.App {
  text-align: center;
}
.active {
  color: pink;
}
.active:active {
  color: red;
}
a {
 text-decoration: none;
}
li {
  list-style-type: none;
}
.layout {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 72px;
}

